header {
    text-align: center;
}

h2 { 
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 48px;
    background-color: #3662FF;
    color: white;
    padding: 8px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.maiusculo {
    text-transform: uppercase;
}

span {
    color: #3662FF;
}

ol {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    line-height: 40px;
}

footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    
}